/* Background image */
html { 
  	background: url(https://images.unsplash.com/photo-1514249738856-baeef48fa7d0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header, footer {
    font-family: 'Libre Baskerville', serif;
    color: white;
    padding: 10px;
    text-align: center;
    width: 400px;
    display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 40px;
	padding: 10px;
    border-radius: 25px;
    text-align: center;
    width: 750px;
    display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
  	background-color: #333;
}

p h2 {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 35px;
	padding: 10px;
    border-radius: 25px;
    text-align: center;
    width: 750px;
    display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
  	background-color: #333;
}

h3 {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 25px;
	padding: 10px;
    border-radius: 25px;
    text-align: center;
    width: 750px;
    display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
  	background-color: #333;
}

.contact {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 45px;
	padding: 10px;
    border-radius: 25px;
    text-align: center;
    width: 750px;
    display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
  	background-color: #333;
}

/* List styles */

ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #333;
}

li {
  	float: left;
	color: white;
	font-family: 'Raleway', sans-serif;
}

/* List link styles */

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-family: 'Raleway', sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  	background-color: #111;
}

.center {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 15%;
}

header {
	font-size: 5em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
}
